@charset "UTF-8";
html, body {
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, dl, dd, form, input[type="checkbox"], input[type="radio"], figure, pre {
  margin: 0;
}

body {
  min-width: 1000px;
  font: 14px/1.4286 "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #66757f;
}

ol, ul, menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

i, em, dfn {
  font-style: normal;
}

img {
  border: 0;
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 0;
}

input, button, select {
  padding: 0;
  outline: none;
  border: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hide {
  display: none;
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.bar_wrap {
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 20px;
  bottom: 20px;
  width: 8px;
  z-index: 2;
}

.bar_wrap .bar {
  position: absolute;
  width: 8px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.dialog .dialog_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog .dialog_content {
  opacity: 0;
  transform: translateY(-50px);
  position: absolute;
  left: calc(50% - 160px);
  top: calc(50% - 90px);
  width: 320px;
  height: 180px;
  color: #333;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 6px;
}

.dialog .dialog_close {
  position: absolute;
  top: 6px;
  right: 12px;
  font: bold 21px/1 '微软雅黑';
  color: #999;
  transition: transform .5s;
  cursor: pointer;
}

.dialog .dialog_close:hover {
  color: #666;
}

.dialog .dialog_footer {
  margin-top: 10px;
  text-align: center;
}

.dialog .sure_btn,
.dialog .cancel_btn {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  box-sizing: border-box;
}

.dialog .sure_btn {
  background-color: #55addc;
  color: #fff;
  margin-right: 15px;
}

.dialog .cancel_btn {
  border: 1px solid #55addc;
}

.rmAlert .dialog_content {
  padding-top: 35px;
  text-align: center;
}

.rmAlert .caret {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  margin-right: 11px;
  background: url(../img/site_icon.png) no-repeat -183px -71px;
}

.rmAlert .dialog_info {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.rmAlert .question {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.rmAlert .tips {
  font-size: 12px;
}

.rmAlert .dialog_footer {
  margin-top: 25px;
}

.selPosition {
  display: block;
  z-index: -10;
  opacity: 0;
}

.selPosition .dialog_close {
  top: 13px;
  right: 16px;
}

.selPosition .dialog_content {
  /*  opacity: 1; */
  width: 410px;
  height: 420px;
  left: calc(50% - 205px);
  top: calc(50% - 210px);
  padding: 15px 20px;
}

.selPosition .dialog_header h3 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.selPosition .dialog_body {
  position: relative;
  height: 230px;
  padding: 5px 0;
  border: 1px solid #eee;
  overflow: hidden;
}

.selPosition .dialog_body ul {
  padding-left: 10px;
  cursor: default;
}

.selPosition .dialog_body h4 {
  padding: 4px 0;
  height: 22px;
  line-height: 22px;
  font-weight: normal;
  font-size: 14px;
}

.selPosition .dialog_body h4 i {
  float: left;
  width: 10px;
  height: 24px;
  margin-right: 5px;
}

.selPosition .dialog_body h4 em {
  float: left;
  width: 16px;
  height: 24px;
  margin-right: 5px;
  background: url(../img/site_icon.png) no-repeat -21px -149px;
}

.selPosition .dialog_body h4 span {
  float: left;
}

.selPosition .dialog_body h4.add i {
  background: url(../img/site_icon.png) no-repeat -368px -20px;
}

.selPosition .dialog_body h4.open i {
  background-position: -355px -20px;
}

.selPosition .dialog_body h4.open em {
  background-position: -1px -149px;
}

.selPosition .dialog_body .treeview {
  position: absolute;
}

.selPosition .dialog_body .bar_wrap {
  right: 3px;
  top: 5px;
  bottom: 5px;
  width: 6px;
}

.selPosition .dialog_body .bar_wrap .bar {
  width: 6px;
  border-radius: 3px;
}

.selPosition .dialog_footer {
  margin-top: 23px;
}

.selPosition .sel_name {
  line-height: 21px;
  margin-bottom: 20px;
  height: 21px;
}

.selPosition .sel_name::before {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 21px;
  margin-right: 10px;
  background: url(../img/site_icon.png) no-repeat -217px -243px;
  content: '';
}

@keyframes anim-open {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes anim-close {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.status_hints {
  display: none;
  position: absolute;
  z-index: 11;
  top: 0;
  left: 50%;
  transform: perspective(1000px) rotateX(-90deg) translate(-50%);
  transform-origin: top center;
  height: 34px;
  font-size: 15px;
  color: #fff;
  padding: 0 20px 0 13px;
  line-height: 34px;
  border-radius: 0 0 6px 6px;
}

.status_hints i {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../img/site_icon.png) no-repeat;
  vertical-align: top;
  margin: 4px 8px 0 0;
}

.status_hints.dialog-open {
  display: block;
  animation: alex-open 0.3s forwards;
}

.status_hints.dialog-close {
  display: block;
  animation: alex-close 0.3s forwards;
}

[data-style="overtimer"] {
  background-color: rgba(235, 107, 107, 0.8);
}

[data-style="overtimer"] i {
  background-position: -73px -70px;
}

[data-style="success"] {
  background-color: #86ce8b;
}

[data-style="success"] i {
  background-position: -109px -71px;
}

[data-style="select_file"] {
  background-color: #f3a960;
}

[data-style="select_file"] i {
  background-position: -144px -70px;
}

@keyframes alex-open {
  0% {
    transform: perspective(1000px) rotateX(-90deg) translate(-50%);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg) translate(-50%);
  }
}

@keyframes alex-close {
  0% {
    transform: perspective(1000px) rotateX(0deg) translate(-50%);
  }
  100% {
    transform: perspective(1000px) rotateX(-90deg) translate(-50%);
  }
}

.deleting {
  display: none;
  background-color: #fff;
  border-radius: 6px;
  border: 2px solid #55addc;
  text-align: center;
  line-height: 76px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
  width: 230px;
  height: 80px;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 115px);
}

.deleting .loading {
  display: inline-block;
  margin-right: 10px;
  height: 20px;
  vertical-align: middle;
}

.deleting .loading span {
  display: inline-block;
  vertical-align: top;
  width: 5px;
  height: 100%;
  border-radius: 3px;
  background: #c7cdd1;
  animation: load 1s ease infinite;
}

.deleting .loading span:nth-child(2) {
  animation-delay: 0.2s;
}

.deleting .loading span:nth-child(3) {
  animation-delay: 0.4s;
}

.deleting .loading span:nth-child(4) {
  animation-delay: 0.6s;
}

.deleting .loading span:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes load {
  0%, 100% {
    height: 20px;
    background: #c7cdd1;
  }
  50% {
    height: 40px;
    margin: -10px 0;
    background: #55addc;
  }
}

.mouse_frame {
  position: absolute;
  z-index: 4;
  left: -999px;
  border: 1px solid #0078d7;
  background-color: rgba(0, 120, 215, 0.3);
}

.drag_hint {
  position: absolute;
  top: 0;
  left: -999px;
  line-height: 22px;
  padding: 0 12px;
  background-color: #fff;
  border: 1px solid #d0d9de;
  border-radius: 3px;
  white-space: nowrap;
}

.contextmenu {
  position: absolute;
  top: 0;
  left: 0;
}

.contextmenu > ul {
  display: none;
  position: absolute;
  border-radius: 4px / 2px 8px 10px 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #333;
  padding: 5px 0;
  width: 158px;
  z-index: 4;
}

.contextmenu > ul h5 {
  position: relative;
  font-size: 14px;
  font-weight: normal;
  padding: 0 20px;
  line-height: 27px;
}

.contextmenu > ul h5:hover {
  background-color: #f5f5f5;
}

.contextmenu > ul h5[data-class]::after {
  position: absolute;
  right: 12px;
  top: 11px;
  border-left: 4px solid #666;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  content: '';
}

.contextmenu > ul li {
  position: relative;
}

.contextmenu > ul li.line {
  background-color: #e5e5e5;
  height: 1px;
  font-size: 0;
  margin: 5px 0;
}

.contextmenu > ul li:hover > ul {
  display: block;
}

.contextmenu > ul ul {
  display: none;
  position: absolute;
  border-radius: 4px / 2px 8px 10px 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #333;
  padding: 5px 0;
  width: 158px;
  left: 150px;
  top: 0;
}
